# {KJ|GEM_NAME}

{KJ|README:TOP_LOGO_ROW}

{KJ|README:LICENSE_INTRO}

Generated with {KJ|KETTLE_DEV_GEM} for [{KJ|YARD_HOST}](https://{KJ|YARD_HOST}).

{KJ|README:LICENSE_REFS}
{KJ|README:TOP_LOGO_REFS}
